<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-back-button></ion-back-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Superhero Details List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="superhero-card" (click)="navigateToDetail(superhero)">
    <img [src]="getThumbnailUrl(superhero?.thumbnail)">
    <ion-card-header>
      <h1>{{superhero?.name}}</h1>
    </ion-card-header>
    <ion-card-content>
      <p>{{superhero?.description ? superhero.description : 'No description available at the moment'}}</p>

      <ion-list>
        <ion-list-header>
          <p class="comic-list-title">Comics:</p>
        </ion-list-header>
        <ion-item *ngFor="let comic of superhero?.comics.items">
          <ion-label>{{comic?.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>