<ion-content>
    <ion-grid fixed class="sign-in-grid">
        <ion-row class="sign-in-row">
            <ion-col size-md="4" size-xs="0"></ion-col>
            <ion-col size-md="4" size-xs="12">
                <ion-title class="title">Sign In</ion-title>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event, loginForm.value)">
                    <ion-input type="text" [formControl]="email" placeholder="Email"></ion-input>
                    <ion-input type="password" [formControl]="password" placeholder="Password"></ion-input>
                    <ion-button class="submit-btn" type="submit" color="primary">Submit</ion-button>
                </form>
            </ion-col>
            <ion-col size-md="4" size-xs="0"></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>